body {
  margin: 0;
}

.container {
  background-color: #202324;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}

.hdr-text {
  position: absolute;
  top: 0%;
  left: 5%;
  font-family: "Potta One", cursive;
  color: white;
  font-size: 30px;
  margin: 0px auto;
}

.text {
  font-family: "Potta One", cursive;
  color: white;
}

.nav-btn {
  position: relative;
  top: 20%;
  margin: 0px auto;
  width: 250px;
  height: 50px;
  font-size: 18px;
  font-family: "Potta One", cursive;
  align-items: center;
  justify-content: center;
  border: solid black;
  border-radius: 10px;
  background-color: lightblue;
}

form {
  position: absolute;
  top: 30%;
  left: 7.5%;
  width: 80%;
}
input {
  border: solid black;
  width: 100%;
}

form button {
  border: solid black;
  border-radius: 10px;
  background-color: navy;
  color: white;
  margin: 5px auto;
  padding: 5px 10px;
  float: right;
}

.nav-home-btn {
  height: 10%;
  border: none;
  background-color: transparent;
}

#autocompleteform {
  position: absolute;
  top: 40%;
  left: 3%;
  width: 90%;
  height: 20px;
  border: black solid;
}

#searchHeader {
  position: absolute;
  top: 20%;
  left: 10%;
}
